/* Reset */

ul, ol {
	list-style: none;
}

a {
	text-decoration: unset;
}

:root {
	--font-base: 18px;
	--font-ratio: 1.333;
	--line-ratio: 1.5;
	--spacing-ratio: 1;
}



/* Spacing */

/* *+*:not(nav, section) {
	margin-top: var(--em-1);
}

html, body, section, div, a {
	margin-top: unset;
	margin-bottom: unset;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--em-1);
}

hr {
	margin-top: var(--rem-5);
	margin-bottom: var(--rem-5);
}

h1, h2, h3, h4, h5 {
	margin-top: var(--em-2);
	margin-bottom: var(--em-2);
}

h6 {
	margin-top: var(--em-3);
} */


html, body, main, section, header, footer, span, div, svg, article {
	--margin-top: 0;
	--margin-bottom: 0;
}

pre > code {
	--has-bfc: 0;
}

div:first-child {
	--margin-top: 0;
	--margin-bottom: 0;
}



* {
	--margin-actual-top: var(--has-bfc, var(--margin-top, unset));
	--margin-actual-bottom: var(--has-bfc, var(--margin-bottom, unset));
	margin-top: var(--margin-actual-top, unset);
	margin-bottom: var(--margin-actual-bottom, unset);
	--margin-actual-left: var(--margin-left, unset);
	--margin-actual-right: var(--margin-right, unset);
	margin-left: var(--margin-actual-left, unset);
	margin-right: var(--margin-actual-right, unset);
}


/* Gap styles */
  
[data-gap-row] > * {
	--margin-top: var(--gap-row);
	--margin-bottom: 0;
}
  
:first-child {
	--margin-actual-top: var(--has-bfc, var(--margin-top, unset));
}
  


[data-gap-column] > * {
	--margin-left: var(--gap-column);
	--margin-right: 0;
}
  
:first-child {
	--margin-actual-left: 0;
}





/* Odd Fixes */

.CodeMirror {
	z-index: 0;
}
.CodeMirror * {
	z-index: 0 !important; /* Appears above header */
}